@model IEnumerable<mf_dev_backend_2023.Models.Consumo>

@{
    ViewData["Title"] = "Relatorio";
}

<h1>Relatorio do veiculo: @ViewBag.Veiculo.Nome</h1>

<h3>valor total: @ViewBag.Total</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.km)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.km)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
         
         
        </tr>
}
    </tbody>
</table>
